@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.tag {
    display: flex;
    align-items: center;

    &__text {
        color: $color-light-black;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
    }

    &--light {
        .tag__text {
            color: $color-white;
        }
    }
    
    @include size-laptop() {
        &__text {
            font-size: 24px;
            line-height: 40px;
        }
    }
}