---
export interface Info {
  title: string;
  buttonText: string;
}
export interface Props {
  info: Info;
}

const { info } = Astro.props;
---

<section class="hero">
  <div class="wrapper">
    <h1 class="hero__title" set:html={info.title} />
    <div>
      <a class="hero__link" href="/#services">
        {info.buttonText}
        <img
          class="hero__svg"
          src="/assets/images/svg/arrow-right.svg"
          alt="arrow right"
          height="20px"
          width="14px"
        />
      </a>
    </div>
  </div>
</section>
