@use "reset";
// @use "variables";
@use "mixins" as *;

@use "../components/Contacts/contacts";
@use "../components/CareInfo/care-info";
@use "../components/Cta/cta";
@use "../components/Hero/hero";
@use "../components/Services/services";
@use "../components/Stories/stories";
@use "../components/MainStory/main-story";
@use "../components/OtherStories/other-stories";
@use "../components/Tag/tag";

@use "../components/Footer/footer";
@use "../components/Header/header";
@use "../pages/error-page";


// @use "../pages/index.scss";

.wrapper {
  @include container();
}

body {
  // font-family: $font-primary;
  font-weight: 400;

  &.modal-is-active {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

.icon__slash {
  width: 32px;
  height: 32px;
  vertical-align: sub;

  @include size-laptop() {
    width: 40px;
    height: 40px;
    margin-right: 14px;
  }
}