---
export interface Info {
	title: string;
  tag: string;
  content: string;
}
export interface Props {
	info: Info;
}

const { info} = Astro.props;
---

<section class="cta">
  <div class="wrapper">
    <div>
    <img class="icon__slash" src="./src/assets/images/svg/slash-line.svg" alt="slash line" />
    <p class="cta__text">{info.tag}</p>
    </div>
    <h2 class="cta__title">{info.title}</h2>
    <p class="cta__text">{info.content}</p>
  </div>
  <div class="cta__circle cta__circle--first"></div>
  <div class="cta__circle cta__circle--second"></div>
  <div class="cta__circle cta__circle--third"></div>
  <div class="cta__circle cta__circle--fourth"></div>
</section>
<style lang="scss">
	@import './cta.scss';
</style>
