---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import MainStory from "../components/MainStory/MainStory.jsx";
import Contacts from "../components/Contacts/Contacts.jsx";
import OtherStories from "../components/OtherStories/OtherStories.jsx";
import Footer from "../components/Footer/Footer.jsx";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const mainStory = {
    storyHeader: t("digital.StoryHeader"),
    mainStoryContent: t("digital.MainStoryContent"),
    resultTitle: t("digital.ResultTitle"),
    resultContent: t("digital.ResultContent"),
    workingWithTitle: t("digital.WorkingWithTitle"),
};
const otherStories = {
    tag: t("digital.OtherStoriesTag"),
    title: t("digital.OtherStoriesHeader"),
    story1Header: t("digital.OtherStoriesTitle1"),
    story2Header: t("digital.OtherStoriesTitle2"),
    story1Content: t("digital.OtherStoriesContent1"),
    story2Content: t("digital.OtherStoriesContent2"),
    story1ButtonText: t("digital.OtherStoriesButtonText1"),
    story2ButtonText: t("digital.OtherStoriesButtonText2"),
};
const contacts = {
    tag: t("index.ContactsTag"),
    header: t("index.ContactsHeader"),
    content1: t("index.ContactsContent1"),
    content2: t("index.ContactsContent2"),
    content3: t("index.ContactsContent3"),
    content4: t("index.ContactsContent4"),
    name: t("index.ContactsName"),
    phone: t("index.ContactsPhone"),
    email: t("index.ContactsEmail"),
};
---

<Layout title="digital-transformation page">
	<Header />
	<main>
		<MainStory info={mainStory} />
		<Contacts info={contacts} />
        <OtherStories info={otherStories} />
        <Footer />
	</main>
</Layout>

<style lang="scss">
	@import '../styles/styles.scss';
</style>