---
import "~styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import MainStory from "../components/MainStory/MainStory.jsx";
import Contacts from "../components/Contacts/Contacts.jsx";
import OtherStories from "../components/OtherStories/OtherStories.jsx";
import Footer from "../components/Footer/Footer.jsx";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const mainStory = {
    storyHeader: t("digital.storyHeader"),
    mainStoryContent: t("digital.mainStoryContent"),
    resultTitle: t("digital.resultTitle"),
    resultContent: t("digital.resultContent"),
    workingWithTitle: t("digital.workingWithTitle"),
};
const otherStories = {
    tag: t("digital.otherStoriesTag"),
    title: t("digital.otherStoriesHeader"),
    story1Header: t("digital.otherStoriesTitle1"),
    story2Header: t("digital.otherStoriesTitle2"),
    story1Content: t("digital.otherStoriesContent1"),
    story2Content: t("digital.otherStoriesContent2"),
    story1ButtonText: t("digital.otherStoriesButtonText1"),
    story2ButtonText: t("digital.otherStoriesButtonText2"),
};
---

<Layout title={t("global.metaTitle")} desc={t("digital.metaDesc")}>
	<Header />
	<main>
		<MainStory info={mainStory} />
		<Contacts/>
        <OtherStories info={otherStories} />
        <Footer />
	</main>
</Layout>