---
import "~styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import MainStory from "../components/MainStory/MainStory.jsx";
import Contacts from "../components/Contacts/Contacts.jsx";
import OtherStories from "../components/OtherStories/OtherStories.jsx";
import Footer from "../components/Footer/Footer.jsx";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const mainStory = {
    storyHeader: t("user.storyHeader"),
    mainStoryContent: t("user.mainStoryContent"),
    resultTitle: t("user.resultTitle"),
    resultContent: t("user.resultContent"),
    workingWithTitle: t("user.workingWithTitle"),
};
const otherStories = {
    tag: t("user.otherStoriesTag"),
    title: t("user.otherStoriesHeader"),
    story1Header: t("user.otherStoriesTitle1"),
    story2Header: t("user.otherStoriesTitle2"),
    story1Content: t("user.otherStoriesContent1"),
    story2Content: t("user.otherStoriesContent2"),
    story1ButtonText: t("user.otherStoriesButtonText1"),
    story2ButtonText: t("user.otherStoriesButtonText2"),
};
---

<Layout title={t("global.metaTitle")} desc={t("user.metaDesc")}>
	<Header client:load/>
	<main>
		<MainStory info={mainStory} client:load/>
		<Contacts client:visible/>
        <OtherStories info={otherStories} client:visible/>
        <Footer client:visible/>
	</main>
</Layout>