---
import "~styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import MainStory from "../components/MainStory/MainStory.jsx";
import Contacts from "../components/Contacts/Contacts.astro";
import OtherStories from "../components/OtherStories/OtherStories.jsx";
import Footer from "../components/Footer/Footer.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const mainStory = {
    storyHeader: t("website.storyHeader"),
    mainStoryContent: t("website.mainStoryContent"),
    resultTitle: t("website.resultTitle"),
    resultContent: t("website.resultContent"),
    workingWithTitle: t("website.workingWithTitle"),
};
const otherStories = {
    tag: t("website.otherStoriesTag"),
    title: t("website.otherStoriesHeader"),
    story1Header: t("website.otherStoriesTitle1"),
    story2Header: t("website.otherStoriesTitle2"),
    story1Content: t("website.otherStoriesContent1"),
    story2Content: t("website.otherStoriesContent2"),
    viewStory: t("global.viewStory")
};
---

<Layout title={t("global.metaTitle")} desc={t("website.metaDesc")}>
	<Header/>
	<main>
		<MainStory info={mainStory}/>
		<Contacts/>
        <OtherStories info={otherStories}/>
        <Footer/>
	</main>
</Layout>