---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import MainStory from "../components/MainStory/MainStory.jsx";
import Contacts from "../components/Contacts/Contacts.jsx";
import OtherStories from "../components/OtherStories/OtherStories.jsx";
import Footer from "../components/Footer/Footer.jsx";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const mainStory = {
    storyHeader: t("website.storyHeader"),
    mainStoryContent: t("website.mainStoryContent"),
    resultTitle: t("website.resultTitle"),
    resultContent: t("website.resultContent"),
    workingWithTitle: t("website.workingWithTitle"),
};
const otherStories = {
    tag: t("website.otherStoriesTag"),
    title: t("website.otherStoriesHeader"),
    story1Header: t("website.otherStoriesTitle1"),
    story2Header: t("website.otherStoriesTitle2"),
    story1Content: t("website.otherStoriesContent1"),
    story2Content: t("website.otherStoriesContent2"),
    story1ButtonText: t("website.otherStoriesButtonText1"),
    story2ButtonText: t("website.otherStoriesButtonText2"),
};
const contacts = {
    tag: t("index.contactsTag"),
    header: t("index.contactsHeader"),
    content1: t("index.contactsContent1"),
    content2: t("index.contactsContent2"),
    content3: t("index.contactsContent3"),
    content4: t("index.contactsContent4"),
    name: t("index.contactsName"),
    phone: t("index.contactsPhone"),
    email: t("index.contactsEmail"),
};
---

<Layout title="digital-transformation page">
	<Header />
	<main>
		<MainStory info={mainStory} />
		<Contacts info={contacts} />
        <OtherStories info={otherStories} />
        <Footer />
	</main>
</Layout>

<style lang="scss">
	@import '../styles/styles.scss';
</style>