---
import { Modal } from 'accessible-astro-components'
import { t, changeLanguage } from "i18next";

changeLanguage("lv");
---

<div class="wrapper">
  <header class="header">
    <a class="header__logo"  href="/astro-turn/"><img class="header__img" src="/astro-turn/assets/images/logo-header.png" alt="logo" /></a>
    <div class="header__menu">
      <div>
      <Modal
        triggerId="modal-header--mob"
        class="header__menu--mob wrapper"
        >
        <div class="header__box">
        <a class="header__logo" href="/astro-turn/" onclick="closeModal()"><img class="header__img" src="/astro-turn/assets/images/logo-header.png" alt="logo" /></a>
          <button
            class="header__button header__button--close"
            onclick="closeModal()"
          >
            <img  src="/astro-turn/assets/images/svg/menu-close.svg" alt="menu close" />
          </button>
        </div>
        <nav class="header__nav header__nav--mob">
        <a class="header__link" href="/astro-turn/" onclick="closeModal()">{t("global.headerHome")}</a>
        <a class="header__link "href="/astro-turn/#story"  onclick="closeModal()">{t("global.headerStory")}</a>
        <a class="header__link" href="/astro-turn/#services" onclick="closeModal()">{t("global.headerServices")}</a>
        <a class="header__link" href="/astro-turn/#contacts" onclick="closeModal()">{t("global.headerContacts")}</a>
        </nav>
      </Modal>
      </div>
      <nav class="header__nav header__nav--desc">
        <a class="header__link" href="/astro-turn/">{t("global.headerHome")}</a>
        <a class="header__link "href="/astro-turn/#story"  onclick="closeModal()">{t("global.headerStory")}</a>
        <a class="header__link" href="/astro-turn/#services">{t("global.headerServices")}</a>
        <a class="header__link" href="/astro-turn/#contacts">{t("global.headerContacts")}</a>
      </nav>
      
    </div>
    <button
      class="header__button header__button--mob"
      id="modal-header--mob"
    >
      <img  src="/astro-turn/assets/images/svg/menu.svg" alt="menu open" />
    </button>
  </header>
</div>
