---
import { Modal } from 'accessible-astro-components'
---

<div class="wrapper">
  <header class="header">
    <a class="header__logo"  href="/astro-turn/"><img class="header__img" src="./src/assets/images/logo-header.png" alt="logo" /></a>
    <div class="header__menu">
      <div>
      <Modal
        triggerId="modal-header--mob"
        class="header__menu--mob wrapper"
        >
        <div class="header__box">
        <a class="header__logo" href="/astro-turn/" onclick="closeModal()"><img class="header__img" src="./src/assets/images/logo-header.png" alt="logo" /></a>
          <button
            class="header__button header__button--close"
            onclick="closeModal()"
          >
            <img  src="./src/assets/images/svg/menu-close.svg" alt="menu close" />
          </button>
        </div>
        <nav class="header__nav header__nav--mob">
        <a class="header__link" href="/astro-turn/" onclick="closeModal()">Home</a>
        <a class="header__link "href="/astro-turn/#story"  onclick="closeModal()">Story</a>
        <a class="header__link" href="/astro-turn/#services" onclick="closeModal()">Services</a>
        <a class="header__link" href="/astro-turn/#contacts" onclick="closeModal()">Contacts</a>
        </nav>
      </Modal>
      </div>
      <nav class="header__nav header__nav--desc">
        <a class="header__link" href="/astro-turn/">Home</a>
        <a class="header__link "href="/astro-turn/#story"  onclick="closeModal()">Story</a>
        <a class="header__link" href="/astro-turn/#services">Services</a>
        <a class="header__link" href="/astro-turn/#contacts">Contacts</a>
      </nav>
      
    </div>
    <button
      class="header__button header__button--mob"
      id="modal-header--mob"
    >
      <img  src="./src/assets/images/svg/menu.svg" alt="menu open" />
    </button>
  </header>
</div>
